.sectionContainer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    gap: 10%;
    margin: 10% auto;

}

.vectorPhoto {
    background-color: white;
    color: rgb(75, 75, 187);
    border: 2px solid rgb(75, 75, 187);
    padding: 15px 15px;

    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    border-radius: 5px;
    margin: 20px 0;
}

.vectorPhoto2 {
    background-color: white;
    color: rgb(75, 75, 187);
    border: 2px solid rgb(75, 75, 187);
    display: inline-block;
    border-radius: 100px;
    margin-top: 20px;

}

.n {
    display: flex;
    display: flex;
}
@media screen and (max-width: 780px) {
    .sectionContainer {

        display: flex;
        flex-direction: column-reverse;
        color: rgb(245, 241, 241);
        /* margin-bottom: 30vw;
        margin-left: 20%; */

    }

    
}